@using System.Globalization
@model GabriniCosmetics.Models.ViewModel.CheckoutVM

@{
    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
}

<div class="master-wrapper-page">
    <div class="master-wrapper-content">
        <div class="master-column-wrapper">
            <div class="center-1">
                <div class="page checkout-page spc">
                    <div class="page-title">
                        <h1>@Localizer["Checkout"]</h1>
                    </div>
                    <div class="page-body checkout-data" id="opc">
                        <form asp-controller="Checkout" asp-action="index" method="post" id="opc-billing-form">
                        <div class="opc" id="checkout-steps">
                            <div class="spc-row">
                                <div class="spc-collumn left">
                                    <div class="spc-billing" style="display:block">
                                        <div class="step-title accordion-title minus">
                                            <h2 class="title">@Localizer["BillingAddress"]</h2>
                                        </div>
                                        <div id="checkout-step-billing" style="display:block" class="step a-item accordion">
                                                <input type="hidden" data-val="true" asp-for="Order.Timestamp" value="@DateTime.Now.ToString(new CultureInfo("en-US")).ToString()">
                                                <input type="hidden" data-val="true" asp-for="Order.OrderStatus" value="Pending">
                                                <input type="hidden" data-val="true" asp-for="Order.PaymentStstus" value="UnPaid">
                                                <input type="hidden" data-val="true" asp-for="Order.PaymentMethod" value="Cash on delivery">

                                                <div id="checkout-billing-load">
                                                    <div class="checkout-data">
                                                        <div class="section select-billing-address">
                                                            <label for="billing-address-select">@Localizer["SelectAddress"]</label>
                                                            <div>
                                                                <select id="billing-address-select" class="address-select" asp-for="Order.FullLocation">
                                                                    @if (Model != null && Model.Addresses != null)
                                                                    {
                                                                        foreach (var item in Model.Addresses)
                                                                        {
                                                                            <option value="@item.Id" data-email="@item.Email">@item.FirstName @item.LastName, @item.Address1, @item.Country</option>
                                                                        }
                                                                    }
                                                                    <option value="0" data-email="">@Localizer["NewAddress"]</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="section new-billing-address" id="billing-new-address-form" style="display: none;">
                                                            <div class="enter-address">
                                                                <div class="edit-address">
                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_FirstName">@Localizer["FirstName"]:</label>
                                                                        <input asp-for="Order.FirstName" placeholder="@Localizer["FirstName"]" type="text">
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_LastName">@Localizer["LastName"]:</label>
                                                                        <input asp-for="Order.LastName" placeholder="@Localizer["LastName"]" type="text">
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs address-input">
                                                                        <label for="BillingNewAddress_Email">@Localizer["Email"]:</label>
                                                                        <input id="emailInput" asp-for="Order.Email" placeholder="@Localizer["Email"]" type="email">
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_CountryId">Country:</label>
                                                                        <select id="BillingNewAddress_CountryId" asp-for="Order.Country">
                                                                            <option value="Jordan">@Localizer["Jordan"]</option>
                                                                        </select>
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_StateProvinceId">State / province:</label>
                                                                        <select data-trigger="state-select" id="StateProvinceId" asp-for="Order.City">
                                                                            <option value="0">@Localizer["SelectState"]</option>
                                                                            <option value="Amman">@Localizer["Amman"]</option>
                                                                            <option value="Irbid">@Localizer["Irbid"]</option>
                                                                            <option value="Zarqa">@Localizer["Zarqa"]</option>
                                                                            <option value="Jerash">@Localizer["Jerash"]</option>
                                                                            <option value="Ma_an">@Localizer["Ma_an"]</option>
                                                                            <option value="Al_Salt">@Localizer["Al_Salt"]</option>
                                                                            <option value="Ajloun">@Localizer["Ajloun"]</option>
                                                                            <option value="Aqaba">@Localizer["Aqaba"]</option>
                                                                            <option value="Tafilah">@Localizer["Tafilah"]</option>
                                                                            <option value="Madaba">@Localizer["Madaba"]</option>
                                                                            <option value="Mafraq">@Localizer["Mafraq"]</option>
                                                                            <option value="Karak">@Localizer["Karak"]</option>
                                                                        </select>
                                                                    </div>

                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_PhoneNumber">@Localizer["PhoneNumber"]:</label>
                                                                        <input asp-for="Order.Phone" placeholder="@Localizer["PhoneNumber"]" type="tel">
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs">
                                                                        <label for="BillingNewAddress_FaxNumber">@Localizer["FaxNumber"]:</label>
                                                                        <input asp-for="Order.Fax" placeholder="@Localizer["FaxNumber"]" type="text" id="BillingNewAddress_FaxNumber">
                                                                    </div>

                                                                    <div class="inputs address-input">
                                                                        <label for="BillingNewAddress_Address1">@Localizer["Address1"]:</label>
                                                                        <input asp-for="Order.Address" placeholder="@Localizer["Address1"]" type="text">
                                                                        <span class="required">*</span>
                                                                    </div>

                                                                    <div class="inputs address-input">
                                                                        <label for="BillingNewAddress_Address2">@Localizer["Address2"]:</label>
                                                                        <input asp-for="Order.Address2" placeholder="@Localizer["Address2"]" type="text" id="BillingNewAddress_Address2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="spc-estimate-shipping"></div>
                                </div>
                                <div class="spc-collumn right">
                                    <div class="checkout-method-wrapper">
                                        <div class="spc-shipping-method" id="checkout-step-shipping-method">
                                            <div id="checkout-shipping-method-load">
                                                <div class="step-title accordion-title minus">
                                                    <h2 class="title">@Localizer["PaymentMethod"]</h2>
                                                </div>
                                                <div class="step a-item accordion" style="display:block">
                                                        <div class="checkout-data">
                                                            <div class="section shipping-method">
                                                                <ul class="method-list">
                                                                    <li>
                                                                        <div class="method-name">
                                                                            <input id="shippingoption_0" type="radio" name="shippingoption" value="Cash on delivery" checked="checked"> <label for="shippingoption_0">@Localizer["COD"]</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="method-name">
                                                                            <input id="shippingoption_1" type="radio" name="shippingoption" value="Credit card" disabled> <label for="shippingoption_1">@Localizer["CC"]</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="spc-payment-method">
                                            <div id="checkout-payment-method-load"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="spc-row-bottom">
                                <div class="step-title">
                                    <h2 class="title">@Localizer["ConfirmOrder"]</h2>
                                </div>
                                <div id="checkout-step-confirm-order" class="step a-item">
                                    <div class="order-summary-content">
                                        <div class="order-review-wrapper order-details-area">
                                            <div class="order-review">
                                                <div class="order-review-data">
                                                    <div class="billing-info-wrap">
                                                        <div class="billing-info">
                                                            <div class="title"><strong>@Localizer["BillingAddress"]</strong></div>
                                                            <ul class="info-list">
                                                                <li class="name"></li>
                                                                <li class="phone"><span id="emailDisplay">@Localizer["Phone"]: @Model.Addresses[0].PhoneNumber</span></li>
                                                                <li class="email"><span id="emailDisplay">@Localizer["Email"]: @Model.Addresses[0].Email</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="payment-method-info">
                                                            <div class="title"><strong>@Localizer["Payment"]</strong></div>
                                                            <ul class="info-list">
                                                                <li class="payment-method"><span class="label"> @Localizer["PaymentMethod"]: </span> <span class="value"> @Localizer["COD"] </span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shopping-cart-items-wrapper">
                                            <div id="shopping-cart-items">
                                                <div class="table-wrapper">
                                                    <table class="cart jsmartable jsmatable-initialized">
                                                        <colgroup>
                                                            <col class="table-info" width="1">
                                                            <col class="sku" width="1">
                                                            <col class="product-picture" width="1">
                                                            <col class="product">
                                                            <col class="unit-price" width="1">
                                                            <col width="1" class="quantity">
                                                            <col width="1" class="subtotal">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th class="table-info">Info</th>
                                                                <th data-breakpoint="md" class="sku">@Localizer["Category"] </th>
                                                                <th class="product-picture">@Localizer["Image"]</th>
                                                                <th data-breakpoint="sm" class="product">@Localizer["Products"]</th>
                                                                <th data-breakpoint="md" class="unit-price">@Localizer["Price"]</th>
                                                                <th class="quantity">@Localizer["Quantity"].</th>
                                                                <th class="subtotal">@Localizer["Total"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.ShoppingCart.CartDetails)
                                                            {
                                                                double? total = 0;
                                                                bool hasSaleFlag = false;

                                                                foreach (var flag in item.Products.Flags)
                                                                {
                                                                    if (flag.FlagType == "Sale")
                                                                    {
                                                                        hasSaleFlag = true;
                                                                        break;
                                                                    }
                                                                }

                                                                if (hasSaleFlag)
                                                                {
                                                                    total += item.Products.PriceAfterDiscount * item.Quantity;
                                                                }
                                                                else
                                                                {
                                                                    total += item.Products.Price * item.Quantity;
                                                                }
                                                                var name = culture.StartsWith("en") ? item.Products.NameEn : item.Products.NameAr;
                                                                var nameCategory = culture.StartsWith("en") ? item.Products.Subcategory.Category.NameEn : item.Products.Subcategory.Category.NameAr;

                                                                <tr>
                                                                    <td class="table-info">Info</td>
                                                                    <td class="sku"><label class="td-title">@Localizer["Category"]:</label> <span class="sku-number">@nameCategory</span></td>
                                                                    <td class="product-picture"><a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Products.Id"><img alt="@Localizer["PictureOf"] @name" src="~/uploads/@item.Image" title="@Localizer["ShowDetailsFor"] @name"></a></td>
                                                                    <td class="product">
                                                                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Products.Id" class="product-name">@name</a>
                                                                        <div class="attributes" style="display: flex;gap: 8px;">
                                                                            @Localizer["Color"] : <div style="width:16px; height:16px; background:@item.ColorName;border-radius:4px;"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="unit-price"><label class="td-title">@Localizer["Price"]:</label> 
                                                                            @if (item.Products.Flags.Any(f => f.FlagType == "Sale"))
                                                                            {
                                                                                <span class="product-unit-price">@item.Products.PriceAfterDiscount @Localizer["JOD"]</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="product-unit-price">@item.Products.Price @Localizer["JOD"]</span>
                                                                            }

                                                                    </td>
                                                                    <td class="quantity"><label class="td-title">@Localizer["Quantity"].:</label> <span class="product-quantity">@item.Quantity</span></td>
                                                                        <td class="subtotal"><label class="td-title">@Localizer["Total"]:</label> <span class="product-subtotal">@String.Format("{0:F2}", total) @Localizer["JOD"]</span></td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-footer row">
                                                <div class="cart-options">
                                                    <div class="cart-collaterals">
                                                        <div class="deals">
                                                            <div id="discount-box">
                                                                <div class="coupon-box">
                                                                    <div class="title"><strong>Discount Code</strong></div>
                                                                    <div class="coupon-code">
                                                                        <input placeholder="Enter your coupon here" asp-for="DiscountCode" id="discountcouponcode" type="text" class="discount-coupon-code" aria-label="Enter discount coupon code">
                                                                        <button type="button" name="applydiscountcouponcode" id="applydiscountcouponcode" class="button-2 apply-discount-coupon-code-button">Apply coupon</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="checkout-totals">
                                                <div class="totals">
                                                        <div class="totals">
                                                            <div class="opc-order-total-wrapper">
                                                                <div class="order-total-custom" id="order-total-custom">
                                                                    <div class="total-info">
                                                                        <table class="cart-total">
                                                                            <tbody>
                                                                                <tr class="order-subtotal">
                                                                                    <td class="cart-total-left">
                                                                                        <label>@Localizer["SubTotal"]:</label>
                                                                                    </td>
                                                                                    <td class="cart-total-right">
                                                                                        <span class="value-summary" id="subtotal-amount">
                                                                                            @(
                                                                                                String.Format("{0:F2}", Model.ShoppingCart.CartDetails
                                                                                                .Select(item => item.Products.Flags.Any(x => x.FlagType == "Sale")
                                                                                                ? item.Products.PriceAfterDiscount * item.Quantity
                                                                                                : item.Products.Price * item.Quantity)
                                                                                                .Sum())
                                                                                                
                                                                                                )
                                                                                            @Localizer["JOD"]
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="tax-value">
                                                                                    <td class="cart-total-left">
                                                                                        <label>@Localizer["Tax"]:</label>
                                                                                    </td>
                                                                                    <td class="cart-total-right">
                                                                                        <span class="value-summary">0,00 @Localizer["JOD"]</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="order-total">
                                                                                    <td class="cart-total-left">
                                                                                        <label>@Localizer["Total"]:</label>
                                                                                    </td>
                                                                                    <td class="cart-total-right">
                                                                                        <input type="hidden" name="totalPrice" id="totalPrice" value="@Model.ShoppingCart.CartDetails.Select(item=> item.Products.Flags.Any(x => x.FlagType == "Sale")? item.Products.PriceAfterDiscount * item.Quantity: item.Products.Price * item.Quantity).Sum()" />
                                                                                        <span class="value-summary" id="total-amount">
                                                                                            <strong>
                                                                                                @(
                                                                                                    String.Format("{0:F2}", Model.ShoppingCart.CartDetails
                                                                                                    .Select(item => item.Products.Flags.Any(x => x.FlagType == "Sale")
                                                                                                    ? item.Products.PriceAfterDiscount * item.Quantity
                                                                                                    : item.Products.Price * item.Quantity)
                                                                                                    .Sum())
                                                                                                    )
                                                                                                @Localizer["JOD"]
                                                                                            </strong>
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    <div id="terms-and-condition">
                                                        <div id="terms-and-condition-wrapper">
                                                            <div class="checkout-data">
                                                                <div id="terms-of-service-warning-box" title="Terms of service" style="display:none">
                                                                    <p>Please accept the terms of service before the next step.</p>
                                                                </div>
                                                                <div class="terms-of-service" style="display: block;">
                                                                    <input id="termsofservice" type="checkbox" name="termsofservice">
                                                                    <label for="termsofservice">@Localizer["Termsofservice"]</label>
                                                                            <a asp-controller="Home" asp-action="ConditionsofUse" class="read" id="read-terms">(@Localizer["Read"])</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buttons">
                                                        <button type="submit" id="confirm-order-button" class="button-1">@Localizer["Confirm"]</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="error-message-list" class="step a-item"></div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-draggable ui-resizable center-dialog" aria-describedby="terms-of-service-warning-box" aria-labelledby="ui-id-4" style="display: none;">
    <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle">
        <span id="ui-id-4" class="ui-dialog-title">@Localizer["TermsOfServiceHeader"]</span>
        <button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
            <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
            <span class="ui-button-icon-space"> </span>Close
        </button>
    </div>
    <div id="terms-of-service-warning-box" class="ui-dialog-content ui-widget-content">
        <p>@Localizer["TermsOfServiceBody"]</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#confirm-order-button').on('click', function (e) {
            if (!$('#termsofservice').is(':checked')) {
                e.preventDefault();
                $('.center-dialog').show();
            } else {
                ConfirmOrder.save();
            }
        });

        $('.ui-dialog-titlebar-close').on('click', function () {
            $(this).closest('.center-dialog').hide();
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const billingAddressSelect = document.getElementById('billing-address-select');
        const billingNewAddressForm = document.getElementById('billing-new-address-form');

        billingAddressSelect.addEventListener('change', function () {
            if (billingAddressSelect.value === '0') {
                billingNewAddressForm.style.display = 'block';
            } else {
                billingNewAddressForm.style.display = 'none';
            }
        });
    });
    document.getElementById('emailInput').addEventListener('input', function () {
        var email = this.value;
        var localizedEmailText = '@Localizer["Email"]'; // Get the localized text
        document.getElementById('emailDisplay').textContent = localizedEmailText + ': ' + email;
    });

    document.getElementById('billing-address-select').addEventListener('change', function () {
        var selectedOption = this.options[this.selectedIndex];
        var email = selectedOption.getAttribute('data-email');
        var localizedEmailText = '@Localizer["Email"]'; // Get the localized text
        document.getElementById('emailDisplay').textContent = localizedEmailText + ': ' + email;
    });

    $('#applydiscountcouponcode').on('click', function () {
        var discountCode = $('#discountcouponcode').val();
        var originalPrice = @Model.ShoppingCart.CartDetails.Select(item => item.Products.Flags.Any(x => x.FlagType == "Sale")? item.Products.PriceAfterDiscount * item.Quantity: item.Products.Price * item.Quantity).Sum();

        $.ajax({
            url: '/Admin/discount/ApplyDiscount',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                code: discountCode,
                originalPrice: originalPrice
            }),
            success: function (response) {
                // Update subtotal and total
                var discountedPrice = response.discountedPrice;
                $('#subtotal-amount').text(discountedPrice.toFixed(2) + ' @Localizer["JOD"]');
                $('#total-amount').html('<strong>' + discountedPrice.toFixed(2) + ' @Localizer["JOD"]</strong>');
                $('#totalPrice').val(discountedPrice.toFixed(2));
            },
            error: function () {
                alert('An error occurred while applying the discount.');
            }
        });
    });
</script>

