@model GabriniCosmetics.Models.ViewModel.OrderDetailVM
@using System.Globalization

<div class="master-column-wrapper">
    <div class="center-1">
        <div class="page order-details-page">
            <div class="page-title">
                <h1>@Localizer["OrderInformation"]</h1>
            </div>
            <div class="page-body master-wrapper-content">
                <div class="order-details-area">
                    <div class="order-overview">
                        <div class="order-number"><strong>@Localizer["OrderNumber"]: @Model.OrderItems.First().OrderID</strong></div>
                        <ul class="order-overview-content">
                            <li class="order-date">
                                @Localizer["OrderDate"]:

                                @{
                                    string culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;

                                    string timestampString = @Model.OrderItems.First().Order.Timestamp;
                                    string formattedDate = "";
                                    string formattedTime = "";

                                    DateTime timestamp;
                                    if (DateTime.TryParseExact(timestampString, "M/d/yyyy h:mm:ss tt;", CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out timestamp))
                                    {
                                        DateTime dateOnly = timestamp.Date;
                                        formattedDate = dateOnly.ToString("dd/MM/yyyy", CultureInfo.GetCultureInfo(culture));
                                        formattedTime = timestamp.ToString("h:mm:ss tt", CultureInfo.GetCultureInfo(culture));
                                    }

                                }
                                <span>@formattedDate @formattedTime </span>
                            </li>
                            <li class="order-status">@Localizer["OrderStatus"]: @Model.OrderItems.First().Order.OrderStatus</li>
                        </ul>
                    </div>
                    <div class="billing-shipping-wrapper">
                        <div class="billing-info-wrap">
                            <div class="billing-info">
                                <div class="title"><strong>@Localizer["BillingAddres"]</strong></div>
                                <ul class="info-list info-list-order">
                                    <li class="name">@Model.OrderItems.First().Order.FirstName @Model.OrderItems.First().Order.LastName</li>
                                    <li class="email">@Localizer["Email"]: @Model.OrderItems.First().Order.Email</li>
                                    <li class="phone">@Localizer["PhoneNumber"]: @Model.OrderItems.First().Order.Phone</li>
                                    <li class="address1">@Localizer["Address"]: @Model.OrderItems.First().Order.Country, @Model.OrderItems.First().Order.City, @Model.OrderItems.First().Order.Address, @Model.OrderItems.First().Order.Address2</li>
                                    <li class="city-state-zip">@Model.OrderItems.First().Order.Zip</li>
                                </ul>
                            </div>
                            <div class="payment-method-info">
                                <div class="title"><strong>@Localizer["Payment"]</strong></div>
                                <ul class="info-list info-list-order">
                                    <li class="payment-method"><span class="label"> @Localizer["PaymentMethod"]: </span> <span class="value">@Model.OrderItems.First().Order.PaymentMethod </span></li>
                                    <li class="payment-method-status"><span class="label"> @Localizer["PaymentStatus"]: </span> <span class="value"> @Model.OrderItems.First().Order.PaymentStstus </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-summary-content">
                    <div class="section products">
                        <div class="title"><strong>@Localizer["Products"]</strong></div>
                        <div class="table-wrapper">
                            <table class="data-table jsmartable jsmatable-initialized">
                                <colgroup>
                                    <col class="table-info" width="1">
                                    <col width="1">
                                    <col width="1">
                                    <col>
                                    <col width="1">
                                    <col width="1">
                                    <col width="1">
                                    <col width="1">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="table-info">Info</th>
                                        <th class="picture">@Localizer["Image"]</th>
                                        <th class="name">@Localizer["Name"]</th>
                                        <th class="price" data-breakpoint="md">@Localizer["Price"]</th>
                                        <th class="quantity" data-breakpoint="sm">@Localizer["Quantity"]</th>
                                        <th class="total">@Localizer["Total"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        double? OrderTotal = 0.0;
                                    }
                                    @foreach (var orderItem in Model.OrderItems)
                                    {
                                        var productName = culture.StartsWith("en") ? orderItem.Product.NameEn : orderItem.Product.NameAr;

                                        <tr>
                                            <td class="product"><a href="/Products/Detail?Id=@orderItem.Product.Id"><img src="/uploads/@orderItem.ImageProduct" /></a></td>
                                            <td class="product"><a href="/Products/Detail?Id=@orderItem.Product.Id">@productName</a></td>
                                            <td class="unit-price"><label class="mb-0 td-title">@Localizer["Price"]:</label>
                                                @if (orderItem.Product.Flags.Any(x => x.FlagType == "Sale")){
                                                    <span class="product-unit-price">@orderItem.Product.PriceAfterDiscount @Localizer["JOD"]</span>
                                                }else{
                                                    <span class="product-unit-price">@orderItem.Product.Price @Localizer["JOD"]</span>
                                                }
                                            </td>
                                            <td class="quantity"><label class="mb-0 td-title">@Localizer["Quantity"]:</label> <span class="product-quantity">@orderItem.Quantity</span></td>
                                            @{
                                                double? total;
                                                if (orderItem.Product.Flags.Any(x => x.FlagType == "Sale"))
                                                {
                                                    total = orderItem.Quantity * @orderItem.Product.PriceAfterDiscount;
                                                }
                                                else
                                                {
                                                    total = orderItem.Quantity * @orderItem.Product.Price;
                                                }
                                                OrderTotal += total;
                                            }
                                            <td class="total"><label class="mb-0 td-title"> @Localizer["Total"]:</label> <span class="product-subtotal">@total @Localizer["JOD"]</span></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="order-footer">
                        <div class="section options">
                        </div>
                        <div class="section totals">
                            <div class="total-info">
                                <table class="cart-total">
                                    <tbody>
                                        @if (!string.IsNullOrEmpty(Model.OrderItems.First().DiscountCode))
                                        {
                                            <tr>
                                                <td class="cart-total-left"><label class="mb-0">@Localizer["DiscountCode"]:</label></td>
                                                <td class="cart-total-right"><span>@Model.OrderItems.First().DiscountCode</span></td>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="cart-total-left"><label class="mb-0">@Localizer["Sub_Total"]:</label></td>
                                            <td class="cart-total-right"><span>@OrderTotal @Localizer["JOD"]</span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart-total-left"><label>@Localizer["Tax"]:</label></td>
                                            <td class="cart-total-right"><span>0,00 @Localizer["JOD"]</span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart-total-left"><label class="mb-0">@Localizer["OrderTotal"]:</label></td>
                                            <td class="cart-total-right"><span><strong>@OrderTotal @Localizer["JOD"]</strong></span></td>
                                        </tr>
                                        @if (Model.OrderItems.First().TotalPrice != null)
                                        {
                                            <tr>
                                                <td class="cart-total-left"><label class="mb-0">@Localizer["TotalAfterDiscountCode"]:</label></td>
                                                <td class="cart-total-right"><span><strong>@Model.OrderItems.First().TotalPrice @Localizer["JOD"]</strong></span></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="actions"><button type="button" class="button-1 re-order-button" onclick="location.href='/order'">@Localizer["Back"]</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

