@model GabriniCosmetics.Models.ViewModel.ChangePasswordVM

<style>
    .master-column-wrapper {
        display: flex;
        margin-top: 15px;
    }
</style>

<div class="master-wrapper-content">
    <div class="master-column-wrapper custom-for-profile">
        @Html.Partial("_Sidebar")
        <div class="center-2">
            <div class="page account-page change-password-page">
                <div class="page-title">
                    <h1>@Localizer["MyAccount"] - @Localizer["ChangePassword"]</h1>
                </div>
                <div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly" class="text-danger" style="margin: 0;padding: 10px;margin-top: 30px;"></div>

                <div class="page-body">
                    <form method="post" asp-controller="Account" asp-action="ChangePassword" id="changePasswordForm" autocomplete="off" novalidate="novalidate">
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="OldPassword">@Localizer["OldPassword"]:</label>
                                    <input type="password" data-val="true" id="OldPassword" asp-for="OldPassword">
                                    <span class="required">*</span> 
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="NewPassword">@Localizer["NewPassword"]:</label>
                                    <input type="password" data-val="true" id="NewPassword" asp-for="NewPassword">
                                    <span class="required">*</span> 
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="ConfirmPassword">@Localizer["ConfirmPassword"]:</label>
                                    <input type="password" data-val="true" id="ConfirmNewPassword" asp-for="ConfirmPassword">
                                    <span class="required">*</span> 
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="buttons"><button type="submit" class="button-1 change-password-button">@Localizer["ChangePassword"]</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bar-notification" class="bar-notification-container" style="display: none;" data-close="Close">
    <div class="bar-notification success">
        <p class="content">@Localizer["SuccessfullyChangePassword"]</p>
        <span class="close" title="Close" onclick="hideNotification()"></span>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(function () {
        $('#changePasswordForm').submit(function (e) {
            e.preventDefault(); // Prevent default form submission

            var formData = $(this).serialize(); // Serialize form data
            var actionUrl = $(this).attr('action'); // Get form action URL

            $.ajax({
                url: actionUrl,
                type: 'POST',
                data: formData,
                success: function (response) {
                    // Show the success notification
                    $('#bar-notification').show()
                    // Wait for 2 seconds
                    setTimeout(function () {
                        // Reload the page after 2 seconds
                        window.location.href = '/Account/ChangePassword';
                    }, 2000);
                },
                error: function (xhr, status, error) {
                    // Handle error response if needed
                    console.error('Error submitting form: ' + error);
                }
            });
        });
    });

    function hideNotification() {
        $('#bar-notification').hide();
    }
</script>